body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0f172a; 
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 450px;
    border: none;
}

h1 {
    color: #21203f;
    margin-bottom: 5px;
    font-weight: 700;
}

p {
    color: #64748b;
    font-size: 0.95em;
    margin-bottom: 20px;
}


input[type="text"],
input[type="date"],
select {
    padding: 12px 15px;
    width: 100%; 
    box-sizing: border-box; 
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1em;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.1);
}

input[type="date"] {
    color: #64748b;
    font-family: inherit;
    text-transform: uppercase;
}

button {
    background-color: #3b82f6;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #2563eb;
}

button:active{
    transform: translateY(2px); /* Move o botão para baixo */
    box-shadow: 0 2px #0056b3; /* Reduz a sombra (efeito "apertado") */
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    text-align: left; /* Nomes alinhados à esquerda ficam melhores */
}

ul li {
    background-color: #f8fafc;
    color: #334155;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 8px;
    border-left: 4px solid #3b82f6; /* Detalhe lateral para destaque */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 0.9em;
}


#mensagem {
    color: #10b981; /* Verde esmeralda para sucesso */
    font-size: 0.85em;
    margin-top: 10px;
    height: 20px; /* Evita que o layout "pule" quando a mensagem aparece */
}